<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About US</h2>
        <P>동적 램(動的 RAM, 순화어: 동적 막기억장치) 또는 디램(DRAM, Dynamic random-access memory)은 임의 접근 기억 장치(램, Random Access Memory)의 한 종류로 정보를 구성하는 개개의 비트를 각기 분리된 축전기(Capacitor)에 저장하는 기억 장치이다. 각각의 축전기가 담고 있는 전자의 수에 따라 비트의 1과 0을 나타내지만 결국 축전기가 전자를 누전하므로 기억된 정보를 잃게 된다. 이를 방지하기 위해 기억 장치의 내용을 일정 시간마다 재생시켜야 되는 것을 일컬어 ‘동적(Dynamic)’이란 명칭이 주어졌다. 정보를 유지하려면 지속적인 전기 공급이 필요하기 때문에 DRAM은 휘발성 기억 장치(Volatile Memory)에 속한다./P>
        <P>동적 램(動的 RAM, 순화어: 동적 막기억장치) 또는 디램(DRAM, Dynamic random-access memory)은 임의 접근 기억 장치(램, Random Access Memory)의 한 종류로 정보를 구성하는 개개의 비트를 각기 분리된 축전기(Capacitor)에 저장하는 기억 장치이다. 각각의 축전기가 담고 있는 전자의 수에 따라 비트의 1과 0을 나타내지만 결국 축전기가 전자를 누전하므로 기억된 정보를 잃게 된다. 이를 방지하기 위해 기억 장치의 내용을 일정 시간마다 재생시켜야 되는 것을 일컬어 ‘동적(Dynamic)’이란 명칭이 주어졌다. 정보를 유지하려면 지속적인 전기 공급이 필요하기 때문에 DRAM은 휘발성 기억 장치(Volatile Memory)에 속한다./P>
        <P>동적 램(動的 RAM, 순화어: 동적 막기억장치) 또는 디램(DRAM, Dynamic random-access memory)은 임의 접근 기억 장치(램, Random Access Memory)의 한 종류로 정보를 구성하는 개개의 비트를 각기 분리된 축전기(Capacitor)에 저장하는 기억 장치이다. 각각의 축전기가 담고 있는 전자의 수에 따라 비트의 1과 0을 나타내지만 결국 축전기가 전자를 누전하므로 기억된 정보를 잃게 된다. 이를 방지하기 위해 기억 장치의 내용을 일정 시간마다 재생시켜야 되는 것을 일컬어 ‘동적(Dynamic)’이란 명칭이 주어졌다. 정보를 유지하려면 지속적인 전기 공급이 필요하기 때문에 DRAM은 휘발성 기억 장치(Volatile Memory)에 속한다./P>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>